@page "/"

<link href="~/css/app.css" rel="stylesheet" />
<div class="container">
    <div>
        <h1>Hello, Rodant</h1>
        <div class="login">
            <h3>Login</h3>
            <input type="text" name="ContactName" placeholder="naam..." />
            <input type="text" name="Password" placeholder="wachtwoord..." />
        </div>
    </div>
</div>