@page "/login"

<PageTitle>Index</PageTitle>
<div class="login">
    <h2>Login</h2>
    <div class="loginForm">
        <input type="text" name="name" placeholder="naam..." />
        <input type="password" name="password" placeholder="wachtwoord..." />
        <input type="submit" name="loginBtn" placeholder="Logins" />
    </div>
</div>


