@page "/reservation"

<PageTitle>Reservation</PageTitle>
<div class="home">
    <div>
        <h2>
            "Finally, our waiting puzzle is over." "Full auto." "You cannot imagine what you'll face here." "I'm gonna shoot em with a gun!"
            "Full auto." "I'm gonna fucking poison you!""What?" "Full auto." "Through the magic of the Druids, I increase my speed!"
            "Just fucking hit em!" "Full auto."
        </h2>
        <div class="resForm">
            <label for="user">User</label>
            <input type="text" name="user" placeholder="user"/>
            <label for="car">Car</label>
            <input type="text" name="car" placeholder="car"/>
            <label for="from">Date(from)</label>
            <input type="text" name="from" placeholder="from"/>
            <label for="to">Date(to)</label>
            <input type="text" name="to" placeholder="to"/>
            <input type="button" name="button" value="Reserveren"/>
        </div>
    </div>
    <div class="trips">
        <div class="trip">
            <p>trip</p>
            <p>trip info</p>
        </div>
        <div class="tripInfo">tripper info</div>
    </div>
</div>